
<!-- Container -->
<div class="modal">
  <!-- Form -->
  <%= form_tag sessions_path, class: "getstarted" do %>
  <!-- login Header -->
  <div class="login-header">
    <button class="close">x</button>
    <h1>LOGIN</h1>
  </div>
  <!-- Login fields -->
  <div class="field">
    <%= text_field_tag :email, nil, class:"session-input", :placeholder => "email"%><br> <!--input tag-->
  </div>
  <div class="field">
    <%= password_field_tag :password, nil, class:"session-input", :placeholder => ".........." %> <!--input tag-->
  </div>
  <!-- Login Button -->
  <div>
    <%= submit_tag "LOG IN", class:"actions" %>
  </div>
  <!-- Forgot Password & Sign Up Button -->
  <div class="extra-login-stuff">
    <%= link_to 'Forgot Password', new_password_reset_path %><br>
    <%= link_to 'Sign Up', new_user_path %>
  </div>
  <% end %>
</div>

<!-- Banner -->
<div class="top-screen">
  <div class="clearfix">
    <div class="banner">
      <div class="banner-text">
        <p>An online community aimed at fostering youth empowerment and support</p>
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  $('.signin').on('click', function(event){
    event.preventDefault();
    // modal will display on click
    $('.modal')
      .css("display","block");
    });
    // modal will close when 'x' is clicked
  $('.close').on('click', function(){
    $('.modal')
      .css("display","none");
    });
  // prevent default if user doesn't input anything into fields
  $('.actions').on('click', function(){
    // if there's no value in <input>, then prevent default on login
    if($("#email").val() == "" || $("#password").val() == ""){
      event.preventDefault();
      $('.session-input').addClass("error");

    }
    $('.session-input').on('click',function(){
    $(this).removeClass('error');
    });
  });
});
</script>
