<div class="spacing"></div>
<div class="landing-container">
  <div class="landing-content-container">
    <!-- LEFT side of screen -->
    <div class="landing-left">
      <div class="slideshow-container">
        <!-- this div contains slider messages-->
        <div class="mySlides fade">
          <%= image_tag("aliance_icon.png") %>
          <h1>Connect through lived experiences</h1>
          <div class="title-line"></div>
          <p>The teenage and early adulthood years can often seem like a thrilling yet terrifying rollercoaster ride.
            We're here to provide you with a safe avenue to express yourself.
            You'll be surprised by the number of others with similar lived experiences.
          </p>
        </div>
        <div class="mySlides fade">
          <%= image_tag("friends_icon.png") %>
          <h1>Find support in other peers</h1>
          <div class="title-line"></div>
          <p>
            Youths go through tremendous amount of physical and emotional growth,
            huge life changes and intense academic and social pressures.
            That is why we strongly encourage youth to engage and empower
            one another.
          </p>
        </div>
        <div class="mySlides fade">
          <%= image_tag("resources_icon.png") %>
          <h1>Enhance mindfulness awareness </h1>
          <div class="title-line"></div>
          <p> Our online resources strive to provide youths with the necessary
          resources that will aid them in learning how to manage difficult feelings,
          grow in self-acceptance, and improve their overall well-being. </p>
        </div>
        <!--  this div contains the dots at bottom for slider -->
        <div class="slider-dot">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
    </div>
    <!-- RIGHT side of screen -->
    <div class="landing-right">
      <div class="modal-signin">
        <!-- Form -->
        <%= form_tag password_resets_path, class: "getstarted", method: :post do %>
          <div class="login-fields">
            <div class="login-header">
                <h1>FORGOT PASSWORD</h1>
                <p> Forgot password? No problem!
                  Enter your email address to reset your password.
                </p>
            </div>
            <div class="field">
              <%= text_field_tag :email, params[:email], class:"session-input", :placeholder => "email"%><br>
            </div>
            <div>
              <%= submit_tag "reset password", class: "actions" %><br>
            </div>
            <div class="extra-login-stuff">
              <%=link_to "Login", new_session_path %><br>
              <%=link_to "Sign Up", new_user_path %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
