<% my_comments.each do |comment| %>
  <p>
    <%= comment.comment %><br>
    <% if comment.user != nil %>
      <em> by <%= comment.user.name %></em>
      Added on: <%= comment.created_at %><br>
      <% if comment.user == current_user %>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
        <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    <% end %>
  </p>
<% end %>
