<div class="comment-container">
  <h3>Comments (<%= (@post.comments.length - 1) %>)</h3>
  <% my_comments.each do |comment| %>
    <% if comment.user != nil %>
      <div class="comment-wrapper post-cont">
        <!-- Shows total comment count for post-->
        <div class="profile-container">
          <div class="img-container">
            <%= image_tag(comment.user.profile_picture.thumb) %>
          </div>

          <!-- <div class="author-container"> -->
            <%= link_to comment.user.name, user_path(comment.user) %>
          <!-- </div> -->
        </div>

        <div class="comment-text-container">
          <div class="comment-comment-containter">
            <p><%= comment.comment %></p>
            <br>
            <% if comment.user == current_user %>
            <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
            <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
            <br>
            <p class="comment-created-msg">Submitted <%= comment.convert_hours %> <%= comment.min_hour_day.pluralize(comment.convert_hours) %> ago</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
