<h1>Sign Up!</h1>

<%= form_for @user do |f| %>
  <!-- notice if failure to input valid data -->
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
       <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
     <% end %>
      </ul>
    </div>
  <%end%>

<div class="modal">
  <!-- Sign Up Header -->
  <div class="login-header">
    <button class="close">x</button>
    <h1>SIGN UP</h1>
  </div>
  <!-- Sign Up Fields -->
  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :name, class:"session-input", :placeholder => "name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, class:"session-input", :placeholder => "email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, class:"session-input", :placeholder => "password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, class:"session-input", :placeholder => "password confirmation" %>
  </div>
  <!-- Sign Up Button -->
  <div class="button">
    <%= f.submit 'Sign up', :class => 'actions' %>
  </div>
</div>
<% end %>
