<% if @user == current_user %>
  <h1>Hey <%= @user.name %>, welcome to your profile!</h1>
  <h2>Profile Picture</h2>
  <%= image_tag(@user.profile_picture) %>
<% end %>
  <h3><%= @user.email %></h3>

  <%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :profile_picture  %>
      <%= f.file_field :profile_picture %>
    </div>
    <div class="action">
      <%= f.submit %>
    </div>
  <% end %>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this image from being uploaded:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>

<h1>Posts by
  <% if @user == current_user %>
    you
  <% else %>
    <%= @user.name %>
  <% end %>
</h1>

<!-- Displaying a list of posts by the current user including a link to the post and the thumbnail image for that post-->
<% @user.posts.each do |post| %>
  "<%= link_to post.body, post_path(post) %>"<br>
   <%= image_tag(post.image.thumb) %><br>
  posted on <%= post.created_at.strftime('%b %e, %l:%M %p')  %>
<% end %>
