<!-- Banner -->
<div class="spacing"></div>

<!-- this is the banner when on mobile view -->
<div class="mobile-banner-container">
  <section class="mobile-banner-section">
    <div class="banner-heading-container"></div>
    <h1 class="mobile-banner-heading animated-title fadeIn">POSTS</h1>
  </section>
</div>
<!-- this is the banner when on desktop and tablet view -->
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn">POSTS</h1>
  </section>
</div>


<div class="profile-outer-container">
  <section class="container">
    <!-- if user updates, this message will show -->
    <%if flash[:notice]%>
      <div class="notice-alert">
      <p id="notice"><%= flash[:notice] %></p>
      <p class="close">x</p>
      </div>
    <% end %>

    <div class="profile_pic">
      <%= image_tag(@user.profile_picture) %>
    </div>

  <div class="description">
    <h2> <%= @user.name %></h2><br>
    <% if @user == current_user %>
      <div class="edit-button"><%= link_to 'Edit Your Profile', edit_user_path(@user) %></div>
    <% end %>
    <p><%= @user.description %></p>
  </div>
</section>


  <h4 class="expression_title">Posts by <%= @user.name %></h4>
  <section class="expression_container">
    <div class="expression-inner-container">
      <% @user.posts.each do |post| %>
      <!-- if post has an image, show it -->
        <% if post.image? %>
          <article class="blog-entry">
            <%= image_tag(post.image.thumb) %>
            <div class="post_details_with_image">
              <p><%= link_to post.title, post_path(post) %></p>
              <p>posted on <%= post.created_at.strftime('%b %e, %l:%M %p')%></p>
              <% if post.user == current_user %>
                <div class="action-container">
                  <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              <% end %>
            </div>
          </article>
        <!--  if post doesn't have an image, do not show image -->
        <% else %>
          <article class="blog-entry">
            <div class="post_details">
              <p><%= link_to post.title, post_path(post) %></p>
              <p>posted on <%= post.created_at.strftime('%b %e, %l:%M %p')%></p>
              <% if post.user == current_user %>
                <div class="action-container">
                  <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              <% end %>
            </div>
          </article>
        <% end %>
      <% end %>
    </div>
  </section>
</div>

<script>
/* when on mobile view, show a different banner */
var $window = $(window);

function changeWindowSize (){
  var windowSize = $window.width();
  if (windowSize < 520){
    $('#new-post-banner-section').css('display', 'none');
    $('.mobile-banner-container').css('display','block');
  } else if (windowSize > 521){
    $('#new-post-banner-section').css('display',"");
    $('.mobile-banner-container').css('display','none');
  }
}

changeWindowSize();

$(window).resize(changeWindowSize);
</script>
