<!-- Banner -->
<div class="spacing"></div>
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn"><%= @user.name %></h1>
  </section>
</div>


<section class="container">
  <!-- if user updates, this message will show -->
  <%if flash[:notice]%>
    <div class="notice-alert">
    <p id="notice"><%= flash[:notice] %></p>
    <p class="close">x</p>
    </div>
  <% end %>

  <div class="profile_pic">
    <%= image_tag(@user.profile_picture) %>
  </div>

  <div class="description">
    <h2> <%= @user.name %></h2><br>
    <div class="edit-button"><%= link_to 'Edit Your Profile', edit_user_path(@user) %></div>
    <p><%= @user.description %></p>
  </div>
</section>

<section class="expression_container">
  <h4 class="expression_title">Posts by <%= @user.name %></h4>
    <% @user.posts.each do |post| %>
    <!-- if post has an image, show it -->
      <% if post.image? %>
        <article class="blog-entry">
          <%= image_tag(post.image.thumb) %>
          <div class="post_details">
            <p><%= link_to post.title, post_path(post) %></p>
            <p>posted on <%= post.created_at.strftime('%b %e, %l:%M %p')%></p>
          </div>
        </article>
      <!--  if post doesn't have an image, do not show image -->
      <% else %>
        <article class="blog-entry">
          <div class="post_details">
            <p><%= link_to post.title, post_path(post) %></p>
            <p>posted on <%= post.created_at.strftime('%b %e, %l:%M %p')%></p>
          </div>
        </article>
      <% end %>
    <% end %>
</section>
