<!-- Nav -->


<div class="profile-top-screen">
<header class="clearix">
  <div class="nav-stick">
    <div class="nav-left">
      <div class="logo"><h1><%= link_to 'State of Our Mind', posts_path %></h1></div>
    </div>
    <nav class="nav-right">
      <p><%=link_to current_user.name, user_path(current_user)  %></p>
      <p><%= link_to 'CREATE POST', new_post_path %></p>
      <p>|</p>
      <p><%= link_to "Log Out", session_path("current"), :method => :delete %></p>
      <!-- <p><a href="#">ABOUT</a></p> -->
      <!-- <a href="#"><p>HOME</p></a> -->
      <!-- <a href="#"><p>SIGN IN</p></a> -->
      <!-- <a href="#"><p><span class="button">SIGN UP</p></a> -->
    </nav>
  </div>
</header>


<!-- Banner -->
<div class="clearfix">
  <div class="banner">
    <div class="profile-banner-text">
      <p>My Profile Page</p>
    </div>
  </div>
</div>
</div>

<section class="container">
    <div class="profile_pic">
      <img src="app/assets/images/user.jpg">
    </div>

    <div class="description">
      <% if @user == current_user %>
        <h2> <%= @user.name %></h2>
      <% else %>
        <h2><%= @user.name %>'s Profile</h2>
      <% end %>
        <h3><%= @user.email %></h3>
    </div>
</section>

<section class="expression_container">

  <h3 class="expression_title">Posts by
    <% if @user == current_user %>
      you
    <% else %>
      <%= @user.name %>
    <% end %>
  </h3>

  <article class="blog-entry">
    <% @user.posts.each do |post| %>
      "<%= post.body %>"<br>
      posted on <%= post.created_at.strftime('%b %e, %l:%M %p')  %>
    <% end %>
  </article>
</section>


</html>
