<!-- Banner -->
<div class="spacing"></div>
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn"><%= @user.name %></h1>
  </section>
</div>


<section class="container">

  <%if flash[:notice]%>
    <div class="notice-alert">
    <p id="notice"><%= flash[:notice] %></p>
    <p class="close">x</p>
    </div>
  <% end %>

  <div class="profile_pic">
    <%= image_tag(@user.profile_picture) %>
  </div>

  <div class="description">
    <h2> <%= @user.name %></h2><br>
    <% if @user == current_user %>
      <div class="edit-button"><%= link_to 'Edit Your Profile', edit_user_path(@user) %></div>
    <% end %>
    <p><%= @user.description %></p>
  </div>
</section>

<section class="expression_container">

  <h4 class="expression_title">Posts by <%= @user.name %></h4>

    <!-- Displaying a list of posts by the current user including a link to the post and the thumbnail image for that post-->
    <% @user.posts.each do |post| %>
      <article class="blog-entry">
        <%= image_tag(post.image.thumb) %><br>
        <div class="post_title"><%= link_to post.title, post_path(post) %><br></div class="post_title">
        <div class="post_time">posted on <%= post.created_at.strftime('%b %e, %l:%M %p')  %></div class="post_time">
      </article>
    <% end %>

</section>

</html>
