<div class="page-container">
  <div class="page-canvas">
    <div class="create-container">
      <%= form_for @post do |f| %>
        <div class="create-field">
          <div class="label">
            <%= f.label "title*"  %>
          </div>
          <div class="textarea">
            <% if @post.errors.any? %>
            <div id="error_explanation">
              <% @post.errors.full_messages.each do |msg| %>
                <%= msg %>
              <% end %>
            </div>
            <% end %>
            <%= f.text_area :title %>
          </div>
        </div>
        <div class="create-field">
          <div class="label">
            <%= f.label :link  %>
          </div>
          <div class="textarea">
            <%= f.text_area :link, placeholder: "eg. https://www.youtube.com/watch?v=dhJvjWaz3hg (Must be youtube)" %>
          </div>
        </div>
        <div class="create-field">
          <div class="label" id="create-image">
              <%= f.label :image  %>
          </div>
          <div class="image">
            <%= f.file_field :image, size: "90" %>
          </div>
        </div>
        <div class="create-field" >
          <div class="label" id="create-text">
            <%= f.label "text"  %>
          </div>
          <div class="textarea"  >
            <%= f.text_area :body, placeholder: "" %>
          </div>
        </div>
        <div class="action">
          <%= f.submit class: "create-action" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
