<div class="page-container">
  <div class="page-canvas">
    <div class="create-container">
      <%= form_for @post do |f| %>
        <div class="create-field">

          <%= f.label "title (required)"  %>
          <% if @post.errors.any? %>
          <div id="error_explanation">

              <% @post.errors.full_messages.each do |msg| %>
                <%= msg %>
              <% end %>

          </div>
          <% end %>
          <%= f.text_area :title %>
        </div>
        <div class="create-field">
          <%= f.label "text"  %>
          <%= f.text_area :body %>
        </div>
        <div class="create-field">
          <%= f.label :link  %>
          <%= f.text_area :link %>
        </div>
        <div class="create-field">
          <%= f.label :image  %>
          <%= f.file_field :image %>
        </div>
        <div class="action">
          <%= f.submit class: "actions" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="back-container">
    <%= link_to 'Back', posts_path %>
  </div>
</div>
