

  <!-- Latest Posts -->
  <section class="clearfix">
    <div class="sect-title">
      <!-- <%= link_to "LATEST PHOTOS", posts_path %> -->
      <h1>All Posts</h1>
    </div>
    <div class="new-post-link">
      <a href="#">New Post</a>
    </div>
  </section>





  <div class="posts-wrapper">
    <% @posts.each do |post| %>
    <div class="post-cont">
      <!-- Picture -->
      <% if post.image? %>
        <div class="img-cont">
          <%= image_tag(post.image.thumb) %>
        </div>
      <% else %>
        <div class="img-cont">
          <%= image_tag("03.RandomImagesO2-UWTB.PNG", :width => 75, :height => 75) %>
        </div>
      <% end %>
      <!-- Text Content-->
      <div class="text-cont">
        <!-- Title -->
        <div class="title-cont">
          <!-- Post Title -->

  <script>
    $(document).ready (function () {
      $(window).scroll (function () {
        var scroll = $(this).scrollTop();
          if (scroll >= 1100) {
              $('.nav-stick').addClass('nav-stick-scroll')
          }else {
              $('.nav-stick').removeClass('nav-stick-scroll')
          }
      })
    })
  </script>

<div class="posts-wrapper">
  <% @posts.each do |post| %>
  <div class="post-cont">
    <% if post.image? %>
      <div class="img-cont">
        <%= image_tag(post.image.thumb) %>
      </div>
    <% end %>
    <div class="text-cont">
      <div class="title-cont">
        <p>
          <%= link_to post.title, post_path(post) %>
        </p>
      </div>
      <div class="author-cont">
        <p>
          by <%= link_to post.user.name, user_path(post.user) %>
         <% if post.user == current_user %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
         <% end %>
        </p>

      </div>
      <div class="submit-cont">
        <p>
          submitted <%= Time.now %>
        </p>

      </div>
        <div class="comment-cont">

          <p>
            <%= link_to post.title, post_path(post), class:'post-title' %>
          </p>
          <!-- Post Author -->
          <p>
            <span class ="by">by</span> <%= link_to post.user.name, user_path(post.user), class:'post-author' %>
           <% if post.user == current_user %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
           <% end %>
          </p>
        </div>

          <!-- Comment Count -->
          <div class="comment-cont">
            <p>
              <%= post.comments.length %> comment<% if post.comments.length > 1 %>s<% end %>
            </p>
          </div>
      </div>
  </div>
  <% end %>
</div>
</section>

    </div>



  </div>

  <% end %>
</div>
