<!-- <div class="spacing"></div> -->
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <!-- <img src="../assets/post-page-icon.png" id='post-page-icon'/>
    <h1>CREATE A NEW POST</h1> -->
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn">POSTS</h1>
  </section>
</div>
<div class="posts-wrapper">
  <table>
    <tbody>
      <% @posts.reverse_each do |post| %>
        <% if post.image? %>
          <tr>
            <th>
              <%= image_tag(post.image.thumb) %>
            </th>
            <td>
              <div class="text-cont" id="text-cont">
                <div class="title-cont">
                  <p>
                    <%= link_to post.title, post_path(post) %>
                  </p>
                </div>
                <div class="author-cont">
                  <p>
                    posted <%= post.convert_hours %> <%= post.min_hour_day.pluralize(post.convert_hours) %> ago by <%= link_to post.user.name, user_path(post.user) %>
                  </p>
                </div>
                <div class="comment-cont">
                  <p>
                    <%= post.comments.length %> comment<% if post.comments.length > 1 %>s<% end %>
                  </p>
                </div>
                <% if post.user == current_user %>
                  <div class="action-container">
                    <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        <% else %>
          <tr>
            <td colspan="2">
              <div class="text-cont" id="first-text-cont">
                <div class="title-cont">
                  <p>
                    <%= link_to post.title, post_path(post) %>
                  </p>
                </div>
                <div class="author-cont">
                  <p>
                    posted <%= post.convert_hours %> <%= post.min_hour_day.pluralize(post.convert_hours) %> ago by <%= link_to post.user.name, user_path(post.user) %>
                  </p>
                </div>
                <div class="comment-cont">
                  <p>
                    <%= post.comments.length %> comment<% if post.comments.length > 1 %>s<% end %>
                  </p>
                </div>
                <% if post.user == current_user %>
                  <div class="action-container">
                    <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
                  </div>
                <% end %>
              </div>
             </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
