
  <!-- Latest Posts -->
  <section class="clearfix">
    <div class="sect-title">
      <%= link_to "LATEST PHOTOS", posts_path %>
    </div>
    <!-- photo 4 -->
    <div class="sect-photos">
      <%= image_tag("friends.jpeg", :alt => "rss feed") %>
      <div class="sect-text">
        <p><span class="img-title">Title</span><br>caption gibberish content</p>
      </div>
      <a href="#"><p><span class="button">VIEW</p></a>
    </div>
  </section>





  <div class="posts-wrapper">
    <% @posts.each do |post| %>
    <div class="post-cont">
      <% if post.image? %>
        <div class="img-cont">
          <%= image_tag(post.image.thumb) %>
        </div>
      <% end %>
      <div class="text-cont">
        <div class="title-cont">
          <p>
            <%= link_to post.title, post_path(post) %>
          </p>
        </div>
        <div class="author-cont">
          <p>
            by <%= link_to post.user.name, user_path(post.user) %>
           <% if post.user == current_user %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
           <% end %>
          </p>

        </div>
          <div class="comment-cont">
            <p>
              <%= post.comments.length %> comment<% if post.comments.length > 1 %>s<% end %>
            </p>
          </div>
      </div>
  </div>
  <% end %>
</div>

<section class="clearfix">
  <div class="sect-container">
    <% @posts.each do |post| %>
        <div class ="sect-post">
          <%= link_to post.body, post_path(post), class:"post_title_link" %><br>
            <div class="post_author_link">
            <%= link_to post.user.name, user_path(post.user) %>
             <% if post.user == current_user %> <p>|</p> <%= link_to 'Edit', edit_post_path(post) %> <p>|</p> <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
             <% end %>
           </div>
        </div>
    <% end %>

  </div>
</section>
