<div class="posts-wrapper">
   <% @posts.reverse_each do |post| %>
    <div class="post-cont">
      <% if post.image? %>
        <div class="img-cont">
          <%= image_tag(post.image.thumb) %>
        </div>
      <% end %>
      <div class="text-cont">
        <div class="title-cont">
          <p>
            <%= link_to post.title, post_path(post) %>
          </p>
        </div>
        <div class="author-cont">
          <p>
            by <%= link_to post.user.name, user_path(post.user) %>
          </p>
        </div>
        <div class="comment-cont">
          <p>
            <%= post.comments.length %> comment<% if post.comments.length > 1 %>s<% end %>
          </p>
        </div>
        <% if post.user == current_user %>
          <div class="action-container">
            <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
