<div class="page-container">
  <div class="page-canvas">
    <div class="show-container">

      <div class="post-title-container">
        <%= @post.title %>
      </div>

      <!-- Displays body if it exists -->
      <% if @post.body %>
        <div class="post-title-container">
          <p><%= @post.body %></p>
        </div>
      <% end %>

      <!-- Displays image if it exists -->
      <% if @post.image %>
        <div class="post-image-container">
          <!-- Displaying the uplaoded image (in the "public/uploads/post/image" directory)-->
          <p><%= image_tag(@post.image) %></p>
        </div>
      <% end %>

      <!-- Displays link if it exists -->
      <% if @post.link %>
        <div class="post-link-container">
          <p><%= @post.link %></p>
        </div>
      <% end %>

      <div class="post-show-author-container">
        <p>
          Posted by: <%= link_to @post.user.name, user_path(@post.user) %>
        </p>
      </div>

      <!-- if you're the owner of the post, you can delete or edit -->
      <div class="post-show-actions-container">
        <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(@post) %> |
          <%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <%= render({:partial => 'comments/comments', :locals => { :my_comments => @post.comments}}) %>





  <h4>New Comment</h4>

  <%= form_for([@post, @comment]) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<%= link_to 'Back', posts_path %>
