<!-- this creates spacing underneath the navigation so there's no overlap -->
<div class="spacing"></div>

<!-- banner -->
<!-- this is the banner when on mobile view -->
<div class="mobile-banner-container">
  <section class="mobile-banner-section">
    <div class="banner-heading-container"></div>
    <h1 class="mobile-banner-heading animated-title fadeIn">POST</h1>
  </section>
</div>
<!-- this is the banner when on desktop and tablet view -->
<div class="new-post-banner">
  <section id='new-post-banner-section'>
    <div class="banner-heading-container"></div>
    <h1 class="banner-heading animated-title fadeIn">POST</h1>
  </section>
</div>


<!-- page content -->
<div class="page-container">
  <div class="page-canvas">
    <div class="show-container">
      <!--  Post title -->
      <div class="post-title-container">
        <h2><%= @post.title %><h2>
      </div>

      <!-- Displays body if it exists -->
      <% if @post.body %>
        <div class="post-title-container">
          <p><%= @post.body %></p>
        </div>
      <% end %>

      <!-- Displays image if it exists -->
      <% if @post.image %>
        <div class="post-image-container">
          <!-- Displaying the uplaoded image (in the "public/uploads/post/image" directory)-->
          <p style="text-align: center;"><%= image_tag(@post.image) %></p>
        </div>
      <% end %>

      <!-- Displays link if it exists -->
      <% if @post.link != '' && @post.link != nil%>
        <div class="post-link-container hideme2">
          <div class="embed-container"><%= embed(@post.link) %></div>
        </div>
      <% end %>

      <!-- Displays author name  -->
      <div class="author-info-container">
        <div class="user_profile_pic">
          <%= image_tag(@post.user.profile_picture.thumb) %>
        </div>
        <div class="post-show-author-container">
          <p>
            <%= link_to @post.user.name, user_path(@post.user) %>
          </p>
          <p>
            Posted <%= @post.convert_hours %> <%= @post.min_hour_day.pluralize(@post.convert_hours) %> ago
          </p>
        </div>
      </div>

      <!-- if you're the owner of the post, you can delete or edit -->
      <div class="post-show-actions-container">
        <% if @post.user == current_user %>
          <%= link_to 'EDIT', edit_post_path(@post) %> |
          <%= link_to 'DELETE', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <%if flash[:notice]%>
    <div class="notice-alert">
    <p id="notice"><%= flash[:notice] %></p>
    <p class="close">x</p>
    </div>
  <% end %>
  <%= render({:partial => 'comments/comments', :locals => { :my_comments => @post.comments}}) %>


<!-- Post comments -->
<div class="new-comment-container">
  <div class="new-comment-wrapper">
    <%= form_for([@post, @comment]) do |f| %>
      <div class="field">
        <h3><%= f.label "New Comment" %></h3>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <% @comment.errors.full_messages.each do |msg| %>
              <%= msg %>
            <% end %>
          </div>
        <% end %>
        <%= f.text_area :comment  %>
      </div>
      <%= f.submit class: 'new-comment-send-button' %>
    <% end %>
  </div>
</div>
