<!DOCTYPE html>
<html>
    <head>
        <title>StartsWithMe</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="clearix">
            <nav class="nav-stick">
                <h1 class='logo'><%= link_to 'State of Our Mind', posts_path %></h1>

                <ul class='nav-list'>
                    <% if current_user %>
                    <li class='nav-item' id='create-post'>
                        <%= link_to 'CREATE POST', new_post_path %>
                    </li>
                    <li class='nav-item'>
                        <%=link_to current_user.name, user_path(current_user)  %>
                    </li>
                    <li class='nav-item'>
                        <%= link_to "Log Out", session_path("current"), :method => :delete %>
                    </li>
                <% else %>
                    <li class='nav-item' id='signin'>
                        <%= link_to "Log In", new_session_path %>
                    </li>
                    <li class='nav-item' id='signup'>
                        <%=link_to "Sign Up", new_user_path %>
                    </li>
                    <% end %>
                </ul>
            </nav>
        </header>

        <%= yield %>

    </body>
  </body>

  <!-- <footer>
    <div class="footer-info expressions">
      <h3>EXPRESSIONS</h3>
      <a href="latest_photos.html">Photos</a>
      <a href="latest_photos.html">Blogs</a>
      <a href="latest_photos.html">Videos</a>
    </div>
    <div class="footer-info help">
      <h3>HELP AND SUPPORT</h3>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <div class="footer-info information">
      <h3>ABOUT</h3>
      <a href="#">About</a>
      <a href="#">Privacy Policies</a>
      <a href="#">Terms and Conditions</a>
    </div>
  </footer> -->
</html>
